.funky-dialog .mat-mdc-dialog-container {
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
}
.dark-backdrop {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(4px); /* 🔥 premium blur */
}

.gallery-dialog .mat-dialog-container {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 15px;
  overflow: hidden;
}