<div class="dialog-container">

  <div class="dialog-header">
    <h2 class="dialog-title">Search Institute</h2>

    <button mat-icon-button class="close-btn" (click)="close()">
      ✕
    </button>
  </div>

  <div mat-dialog-content class="dialog-content">

    <!-- Search -->
    <div class="search-section">
      <input
        type="text"
        placeholder="🔍 Search institute..."
        [(ngModel)]="searchText"
        (input)="searchInstitute()"
      />
    </div>

    <!-- Trending Title -->
     <ng-container *ngIf="searchText==''||searchText==null||searchText==undefined">
    <div class="trending-title">
      🔥 Trending Institutes
    </div>

    <!-- List -->
    <div class="trending-list">

      <div
            (click)="selectUniversity(trand)"
        *ngFor="let trand of trendingUniversity"
        class="institute-card"
      >

        <img [src]="trand?.logoUrl" />

        <div class="name-box">
          <span class="institute-name">
            {{ trand?.name }}
          </span>

    
        </div>

      </div>

    </div>
     </ng-container>
     <ng-container *ngIf="searchText!=''&&searchText!=null&&searchText!=undefined">
       <div class="trending-title">
     Search Institutes
    </div>

    <!-- List -->
    <div class="trending-list">

      <div
      (click)="selectUniversity(item)"
        *ngFor="let item of filteredList()"
        class="institute-card"
      >

        <img [src]="item?.logoUrl" />

        <div class="name-box">
          <span class="institute-name">
            {{ item?.name }}
          </span>

    
        </div>

      </div>

    </div>
     </ng-container>


  </div>

</div>