.top_bar {
    display: flex;
    width: 100%;
    background: var(--secondary-color);
    color: #ffffff;
    min-height: 52px;
    padding-top: 5px;
    align-items: center;

    .left_nav {
        display: flex;
        align-items: center;

        .header_nav_left {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0px;
            justify-content: right;
            transition: .5s all;

            li {
                display: inline-block;
                margin-right: 15px;
            }
        }


    }

    .nav_icon_withtxt {
        font-size: 13px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: right;
        color: rgba(255, 255, 255, 0.7803921569);
        text-decoration: none;
        height: 100%;

        i {
            font-size: 18px;
            margin-right: 5px;
            color: #cccccc;
            cursor: pointer;
            transition: .5s all;
            opacity: .8;

            &:hover {
                opacity: 1;
            }

        }

        a {
            i {
                font-size: 22px;
            }
        }


    }
}

.logowithmenu_bar {
    width: 100%;
    padding: 10px 0px 5px 0px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: #ffffff;
    transition: 0.5s all;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100;
    min-height: 85px;

    &:before {
        content: "";
        float: left;
        position: absolute;
        height: 3px;
        top: 0px;
        width: 100%;
        background: -moz-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f76570), color-stop(8%, #f76570), color-stop(8%, #f3a46b), color-stop(16%, #f3a46b), color-stop(16%, #f3a46b), color-stop(16%, #ffd205), color-stop(24%, #ffd205), color-stop(24%, #ffd205), color-stop(24%, #1bbc9b), color-stop(25%, #1bbc9b), color-stop(32%, #1bbc9b), color-stop(32%, #14b9d5), color-stop(40%, #14b9d5), color-stop(40%, #c377e4), color-stop(48%, #c377e4), color-stop(48%, #f76570), color-stop(56%, #f76570), color-stop(56%, #f3a46b), color-stop(64%, #f3a46b), color-stop(64%, #ffd205), color-stop(72%, #ffd205), color-stop(72%, #1bbc9b), color-stop(80%, #1bbc9b), color-stop(80%, #14b9d5), color-stop(80%, #14b9d5), color-stop(89%, #14b9d5), color-stop(89%, #c377e4), color-stop(100%, #c377e4));
        background: -webkit-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
        background: -o-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
        background: -ms-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
        background: linear-gradient(to right, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
        // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f76570', endColorstr='#c377e4', GradientType=1);
    }

    .logo_block {

        img {
            width: 140px;
        }
    }

    .main-menu {
        margin-top: 25px;
        text-align: right;

        .top_menu_ul {
            display: inline-block;
            margin: 0px;
            text-align: left;

            li {
                text-align: center;
                display: inline-block;
                text-transform: capitalize;
                font-size: 16px;

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: #666666;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    letter-spacing: 0.5px;

                    &:after {
                        content: "|";
                        display: inline-block;
                        margin: 0px 10px;
                        color: #bdbdbd;
                    }
                }
            }
        }
    }
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: right;
}

/* Sidebar container */
.mobile-sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: #ffffff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    padding-top: 60px;
    z-index: 9999;
}



.mobile-sidebar ul {
    list-style: none;
    padding: 0;
}

.mobile-sidebar li {
    padding: 15px 20px;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

/* Dark overlay when sidebar opens */


/* Hide desktop menu SM & XS screens */
@media (max-width: 768px) {
    .left_nav {
        justify-content: center;
    }

    .mobile-sidebar.open {
        right: 0;
    }

    .open_backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 9998;
    }
}

// @import '../../../assets/scss/media.scss';