<app-stm-banner *ngIf="banners?.length||bannersMobile?.length" [banners]="banners" [bannersMobile]="bannersMobile">

</app-stm-banner>
<section class="tufx-section">
  <div class="tufx-container">

    <div class="tufx-card">
      <div class="tufx-img-wrap">
        <img  class="img-px" src="assets/images/stm/parents.png" alt="parents">
      </div>
      <h2 class="tufx-count">{{ parentCount }}+</h2>
      <p class="tufx-title">Trusted by Parents</p>
    </div>

    <div class="tufx-card">
      <div class="tufx-img-wrap">
        <img class="img-px" src="assets/images/stm/mentor.png" alt="mentor">
      </div>
      <h2 class="tufx-count">{{ mentorCount }}+</h2>
      <p class="tufx-title">Expert Members</p>
    </div>

    <div class="tufx-card">
      <div class="tufx-img-wrap">
        <img class="img-px" src="assets/images/stm/google.png" alt="google">
      </div>
      <h2 class="tufx-count">{{ rating }}</h2>
      <p class="tufx-title">Google Rating</p>
    </div>

  </div>
</section>
<section>
    <div class="container">

  <!-- CATEGORY -->
  <div class="category-wrapper">

    <button class="scroll-btn" (click)="scrollLeft()">❮</button>

    <div
      class="category-list"
      #catList
      (mousedown)="onMouseDown($event)"
      (mouseleave)="onMouseLeave()"
      (mouseup)="onMouseUp()"
      (mousemove)="onMouseMove($event)"
    >
      <div
        class="category-item"
        *ngFor="let cat of categories"
        [class.active]="selectedCategory === cat.id"
        (click)="selectCategory(cat.id)"
      >
        {{cat.name}}
      </div>
    </div>

    <button class="scroll-btn" (click)="scrollRight()">❯</button>

  </div>

  <!-- SKELETON -->
  <div *ngIf="loading" class="product-grid">
    <div class="skeleton-card" *ngFor="let i of [1,2,3,4]"></div>
  </div>

  <!-- PRODUCTS -->
  <div *ngIf="!loading"  class="product-grid">

    <div class="product-card" *ngFor="let product of filteredProducts">

      <div class="trending">TRENDING</div>
      <div class="trending">TRENDING</div>

      <div class="image-box">
        <img src="https://collegetopmost.com/adminad/backend/collegetopmost/public/university/53551777130170.png" />
      </div>

      <div class="product-name">{{product.name}}</div>

      <button class="buy-btn">Visit</button>

    </div>

  </div>

</div>
</section>
<section>
<div class="ultra-school-section">

  <h2 class="ultra-title">
    <span>Discover Perfect School for Your Child</span>
  </h2>

  <div class="ultra-card-container">

    <div class="ultra-card"
         #card
         (mousemove)="tilt($event, card)"
         (mouseleave)="resetTilt(card)"
         (click)="ripple($event)">
      <img src="assets/images/stm/card1.png" alt="">
      <div class="sparkle"></div>
    </div>

    <div class="ultra-card"
         #card
         (mousemove)="tilt($event, card)"
         (mouseleave)="resetTilt(card)"
         (click)="ripple($event)">
      <img src="assets/images/stm/card2.png" alt="">
      <div class="sparkle"></div>
    </div>

    <div class="ultra-card"
         #card
         (mousemove)="tilt($event, card)"
         (mouseleave)="resetTilt(card)"
         (click)="ripple($event)">
      <img src="assets/images/stm/card3.png" alt="">
      <div class="sparkle"></div>
    </div>

  </div>

</div>
</section>
<div class="sgxpro-wrapper">

  <div class="sgxpro-section" *ngFor="let section of schoolGroup; let i = index">

    <!-- HEADING -->
    <div class="sgxpro-heading-box">
      <h2 class="sgxpro-heading">{{ section.title }}</h2>
      <p class="sgxpro-subheading">{{ section.sub_title }}</p>
    </div>

    <!-- 🔥 SHIMMER LOADING -->
    <div class="sgxpro-scroll shimmer-wrapper" *ngIf="loadingSchoolList">
      <div class="sgxpro-card shimmer-card" *ngFor="let s of [1,2,3,4]">
        <div class="sgxpro-img-box shimmer-bg"></div>
        <div class="sgxpro-content">
          <div class="shimmer-line"></div>
          <div class="shimmer-line small"></div>
        </div>
      </div>
    </div>

    <!-- ✅ ACTUAL CONTENT -->
    <div class="sgxpro-scroll-container" *ngIf="!loadingSchoolList">

      <button class="sgxpro-nav left" (click)="scrollLeftSchool(i)">‹</button>

      <div class="sgxpro-scroll" #scrollRef>
        <div (click)="openSchool(school?.fullName)" class="sgxpro-card" *ngFor="let school of section?.schoolList">

          <div class="sgxpro-img-box">
            <img [src]="school.logoUrl" loading="lazy" />
          </div>

          <div class="sgxpro-content">
            <h3 class="sgxpro-school-name">{{ school?.name }}</h3>
            <p class="sgxpro-location">{{ school?.cityDetail?.name }}, India</p>
          </div>

        </div>
      </div>

      <button class="sgxpro-nav right" (click)="scrollRightSchool(i)">›</button>

    </div>

  </div>

</div>