<app-stm-banner *ngIf="banners?.length" [banners]="banners" [bannersMobile]="bannersMobile">

</app-stm-banner>
<section>
    <div class="container">

  <!-- CATEGORY -->
  <div class="category-wrapper">

    <button class="scroll-btn" (click)="scrollLeft()">❮</button>

    <div
      class="category-list"
      #catList
      (mousedown)="onMouseDown($event)"
      (mouseleave)="onMouseLeave()"
      (mouseup)="onMouseUp()"
      (mousemove)="onMouseMove($event)"
    >
      <div
        class="category-item"
        *ngFor="let cat of categories"
        [class.active]="selectedCategory === cat.id"
        (click)="selectCategory(cat.id)"
      >
        {{cat.name}}
      </div>
    </div>

    <button class="scroll-btn" (click)="scrollRight()">❯</button>

  </div>

  <!-- SKELETON -->
  <div *ngIf="loading" class="product-grid">
    <div class="skeleton-card" *ngFor="let i of [1,2,3,4]"></div>
  </div>

  <!-- PRODUCTS -->
  <div *ngIf="!loading" class="product-grid">

    <div class="product-card" *ngFor="let product of filteredProducts">

      <div class="trending">TRENDING</div>
      <div class="trending">TRENDING</div>

      <div class="image-box">
        <img [src]="product.image" />
      </div>

      <div class="product-name">{{product.name}}</div>

      <button class="buy-btn">Visit</button>

    </div>

  </div>

</div>
</section>
<section>
<div class="ultra-school-section">

  <h2 class="ultra-title">
    <span>Discover Perfect School for Your Child</span>
  </h2>

  <div class="ultra-card-container">

    <div class="ultra-card"
         #card
         (mousemove)="tilt($event, card)"
         (mouseleave)="resetTilt(card)"
         (click)="ripple($event)">
      <img src="assets/images/stm/card1.png" alt="">
      <div class="sparkle"></div>
    </div>

    <div class="ultra-card"
         #card
         (mousemove)="tilt($event, card)"
         (mouseleave)="resetTilt(card)"
         (click)="ripple($event)">
      <img src="assets/images/stm/card2.png" alt="">
      <div class="sparkle"></div>
    </div>

    <div class="ultra-card"
         #card
         (mousemove)="tilt($event, card)"
         (mouseleave)="resetTilt(card)"
         (click)="ripple($event)">
      <img src="assets/images/stm/card3.png" alt="">
      <div class="sparkle"></div>
    </div>

  </div>

</div>
</section>
