<footer class="footer">
    <div class="container main_footer">
        <div class="footer-top">
            <div class="contact-box">
                <div class="contact-item">
                    <i class="mdi mdi-phone-outline"></i>
                    <div>
                        <p class="title">24/7 Call Support</p>
                        <p class="info"><a href="tel:+919755664483">+91-9755664483</a></p>
                    </div>
                </div>
                <span class="divider">-- OR --</span>
                <div class="contact-item">
                    <i class="mdi mdi-email-outline"></i>
                    <div>
                        <p class="title">24/7 Email Support</p>
                        <p class="info">
                            <a href="mailto:collegetopmost@gmail.com">collegetopmost&#64;gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-main">
            <div class="footer-col about">
                <div class="image_logo"><img src="assets/images/logo.png" alt="logo"></div>
                <p>
            At CollegeTopMost, we are dedicated to enabling students to make informed and strategic academic decisions that shape a successful and fulfilling future. Our platform is meticulously designed to streamline the complex process of discovering the most suitable colleges, courses, and career pathways across India.
                </p>
                <!-- <p class="address">
                    <i class="mdi mdi-map-outline"></i>
                    123 New Street, Melbourne location Australia 54214
                </p> -->
            </div>

            <div class="footer-col links">
                <h4>Important Link</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">University</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-col newsletter">
                <!-- <h4>News Letter</h4>
                <p>
                    A dipisicing elit sed dotem eiusmou tempor incididunt ut labore.
                </p>
                <div class="newsletter-form">
                    <input type="email" placeholder="Enter Your Email" />
                    <button><i class="mdi mdi-arrow-right"></i></button>
                </div> -->
                <ul class="footer_nav_left list-unstyled">
                    <!-- <li>
                        <a> <i class="mdi mdi-facebook"></i></a>
                    </li> -->
                    <li>
                        <a target="_blank" href="https://www.instagram.com/collegetopmost?igsh=Z3h3MnU1eHhidHow"><i class="mdi mdi-instagram"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://x.com/CollegeTopMost"><i class="mdi mdi-twitter"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://youtube.com/@collegetopmost?si=78_XneJaolrt7qFT"><i class="mdi mdi-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>
            Copyrights © 2025 by
            <a href="#">College Top Most</a> All Rights Reserved.
        </p>
    </div>
</footer>